[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pylint = "*"
cookiecutter = "*"

[packages]
dash = "*"
pymysql = "*"
flask-sqlacodegen = "*"
flask-sqlalchemy = "*"
pandas = "*"
dash-daq = "*"
psycopg2-binary = "*"
flask-caching = "*"
mypy-extensions = "*"
dash-bootstrap-components = "*"
ipython = "==7.16.1"
sd-material-ui = "==3.2.0"
pyyaml = {editable = true,path = "./nica_dash_components"}
dash-extensions = "*"

[requires]
python_version = "3.9"
